.cache
.idea
dist
!dist/mockServiceWorker.js
node_modules
.DS_Store
.eslintcache
build
yarn-error.log
lerna-debug.log
.vscode
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.nx/cache