.vurderDatoContainer {
    margin-top: 1rem;
    max-width: 44rem;
}

.info {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.alertAccordion :global(.navds-accordion__header) {
    box-shadow: none !important;
    --a-spacing-3: 0;
}
